<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header.ejs") %>
        <title>New Product</title>

        <style>
            form {
                margin: 0 auto;
                width: 50%;
                border: 3px solid #f1f1f1;
                padding: 10px;
            }

            input[type=text],
            input[type=number] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            input[type=submit] {
                width: 100%;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
            }

            input[type=submit]:hover {
                background-color: #45a049;
            }

            label {
                font-weight: bold;
            }

            h1 {
                text-align: center;
            }
        </style>


</head>

<body>
    <header>
        <%- include("./partials/navbar") %>

            <h1>Add New Product</h1>

    </header>
    <form action="/product/save" method="post">
        <label>Product Name: <input type="text" name="name" placeholder="Enter product name" />
        </label>
        <br />
        <br />

        <label>Price: <input type="number" name="price" placeholder="Enter product price" />
        </label>
        <br />
        <br />

        <label>Quantity: <input type="number" name="qty" placeholder="Enter product quantity" />
        </label>
        <br />
        <br />

        <label>Manufacturer: <input type="text" name="manufacturer" placeholder="Enter Manufacturer" />
        </label>
        <br />
        <br />

        <input type="submit" value="Save" />

    </form>
</body>

</html>