<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header.ejs") %>
        <title>Products</title>
</head>

<body>
    <%- include("./partials/navbar") %>
        <h1>
            Products
        </h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Details</th>
            </thead>
            <tbody>

                <% for(let i=0; i<products.length; i++) { %>
                    <tr>
                        <td>
                            <%= products[i].name %>
                        </td>
                        <td>
                            <a href="product/<%= products[i]._id %> %>">
                                Full Detail
                            </a>
                        </td>

                    </tr>
                    <% } %>



            </tbody>
        </table>

</body>

</html>